<!DOCTYPE html>
<html lang="en" ng-app="scrumApp">
<head>
	<meta charset="UTF-8">
	<title>Tasks</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="js/filters.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<style type="text/css">
		body{
			margin:15px;
		}
		i{
			cursor:pointer;
		}
	</style>
</head>
<body ng-controller="TaskListCtrl">
<div class="container-fluid">
  <div class="row">
    <div class="well">
      <!--Sidebar content-->
	  <div class="pull-left">
      	Search: <input ng-model="criteria" ng-keydown="changePagination()" size="35">
      </div>
      <div class="pull-right">
      	Display:
      	<select ng-model="pageSize" ng-change="selectDisplay()">
			<option ng-repeat="itemsAmount in [5,10,15,20,25,30,35,40,45,50,100]" value="{{itemsAmount}}" ng-selected="pageSize === itemsAmount">{{itemsAmount}}</option>
      	</select>
      </div>
      <div style="clear:both"><br/></div>
    </div>

    <div>
      <!--Body content-->
		<table class="table table-bordered table-striped">
			<thead>
				<th ng-click="sort('name')">Name <i ng-class="{'glyphicon glyphicon-chevron-up' : isSortUp('name'), 'glyphicon glyphicon-chevron-down' : isSortDown('name')}"></i></th>
				<th ng-click="sort('descr')">Description <i ng-class="{'glyphicon glyphicon-chevron-up' : isSortUp('descr'), 'glyphicon glyphicon-chevron-down' : isSortDown('descr')}"></i></th>
				<th ng-click="sort('priority')">Priority <i ng-class="{'glyphicon glyphicon-chevron-up' : isSortUp('priority'), 'glyphicon glyphicon-chevron-down' : isSortDown('priority')}"></i></th>
				<th ng-click="sort('estimation')">Estimation <i ng-class="{'glyphicon glyphicon-chevron-up' : isSortUp('estimation'), 'glyphicon glyphicon-chevron-down' : isSortDown('estimation')}"></i></th>
				<th ng-click="sort('done')">Done <i ng-class="{'glyphicon glyphicon-chevron-up' : isSortUp('done'), 'glyphicon glyphicon-chevron-down' : isSortDown('done')}"></i></th>
			</thead>
			<tbody>
				<tr ng-repeat="backlogItem in filteredBacklog = (backlog | start : (currentPage - 1) * pageSize | limitTo : pageSize | filter: criteria | orderBy: sortField : reverse )">
					<td>{{backlogItem.name}}</td>
					<td>{{backlogItem.descr}}</td>
					<td>{{backlogItem.priority}}</td>
					<td>{{backlogItem.estimation}}</td>
					<td>{{backlogItem.done}}</td>
				</tr>
			</tbody>
		</table>
		<ul uib-pagination boundary-links="true" total-items="backlog.length" ng-model="currentPage" items-per-page="pageSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
  </div>
</div>
</body>
</html>